
#football-field  {
    background-color: green;
    width: 90%;
    height: 1000px;
    margin: 5%;
    margin-top: 0px;
}

#field-goal {
    /* backgdround-color: yellow;  */
    width: 100px;
    height: 150px;
    border-width: 0px 5px 5px 5px;
    border-color: yellow; 
    border-style: solid;
    margin-left: calc(50% - 50px); 
    box-sizing:border-box; 
}
#field-goal-post {
    background-color: yellow; 
    width: 5px;
    height: 40px;
    margin-left: calc(50% - 2.5px);
}